<footer class="site-footer">
  <div class="sharebuttons">
  <hr />
  <ul>
    <li>
      <p class="sharetitle"> </p>
    </li>
    <li class="reddit">
      <a href="http://www.reddit.com/u/harrywantstodev" target="_blank">
        {% include social/share-icon-reddit.svg %}
      </a>
    </li>
    <li class="twitter">
      <a href="https://twitter.com/eta_son" target="_blank">
        {% include social/share-icon-twitter.svg %}
      </a>
    </li>
    <li class="github">
      <a href="https://www.github.com/harrywantstodev" target="_blank">
        {% include social/share-icon-github.svg %}
      </a>
    </li>
	    <li class="gmail">
      <a href="mailto:harrywantstodev@gmail.com" target="_blank">
        {% include social/share-icon-gmail.svg %}
      </a>
    </li>
  </ul>
</div>
</footer>