Package: com.yourcompany.nosbpagedots
Name: NoSBPageDots
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: harrywantstodev
Author: harrywantstodev
Section: Tweaks
Version: 0.0.1-2+debug
Installed-Size: 117
